<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
            <button class="btn btn-danger">Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input type="text" class="form-control" formControlName="imagePath" id="imagePath" placeholder="Image URL">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img src="" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea rows="4" class="form-control" formControlName="description" id="description" placeholder="Description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <div style="margin-top: 10px" class="row" *ngFor="let ingredientCtrl of ingredientCtrls; let i = index" [formGroupName]="i">
              <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-xs-2">
                <input type="number" class="form-control" formControlName="amount">
              </div>
              <div class="col-xs-2">
                <button (click)="onDeleteIngredient(i)" type="button" class="btn btn-danger">X</button>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-xs-12">
                <button (click)="onAddIngredient()" type="button" class="btn btn-success">Add Ingredient</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<!-- 
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success">Save</button>
            <button class="btn btn-danger">Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input #imagePath type="text" formControlName="imagePath" class="form-control" id="imagePath" placeholder="Image URL">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea rows="4" formControlName="description" class="form-control" id="description" placeholder="Description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <div style="margin-top: 10px" class="row" *ngFor="let ingredientCtrl of ingredientCtrls; let i = index" [formGroupName]="i">
              <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-xs-2">
                <input type="number" class="form-control" formControlName="amount">
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-danger">X</button>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-success">Add Ingredient</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div> -->